/* 

Copyright 2019 HTW Dresden

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

/* Anpassung des Hauptbereiches */

body {
	margin: 15%;
	padding: 5%;
	font-family: Arial, Helvetica, sans-serif;
}

/* Anpassung der Ausgabe des ausgewählten Fachbereichs-Filter */
#auswahl {
	padding-bottom: 20px;
	color: black;
}

/* Formatierung der Tabelle der Datenbankergebnisse */

#ausgabe {
	border-style: solid;
	border:2px solid #000000;
	padding: 7px
}

#datTr:nth-child(odd) {
	border-collapse: collapse;
	background-color: aliceblue;
}

thead {	
	font-weight: 700;
	font-size: 125%;
	color: #006EB7;
}

.bezeichnung {
	border-style: none;
}

#header {
	font-size: 180%;
	/* line-height: 1.5; */
	font-family: Arial, Helvetica;
}


/* Formatierung der Header Schriftart */
#groß {
	font-size: 150%;
	line-height: 1.2;
	margin-bottom: 10px;
}

/* Formatierung der Navigationsleiste */

#navigation {
	background-color: #006EB7; 
	padding: 19px;
	color: aliceblue;
}

.auf {
	color: aliceblue;
	padding: 19px;
}
.auf:link, .auf:visited {
	color: aliceblue;
	text-decoration:none;
}

.auf:hover {
	background-color: aliceblue;
	padding: 20px;
	text-decoration: none;
	border-style: none;
	color: black;
}

a.linkbutton:link, a.linkbutton:visited {
    background-color: #006EB7;
    color: aliceblue;
    border: 1px outset #006EB7;
	padding: 3px;
	margin: 2px;
    text-align: center;	
    text-decoration: none;
	display: inline-block;
	font-size: 90%;
}

/* Formatierung der Buttons bei der Datenbankanzeige */
.bfield {
	border-style: none;
}

a.linkbutton:link, a.linkbutton:visited {
    background-color: #006EB7;
    color: aliceblue;
    border: 1px outset #006EB7;
	padding: 3px;
	margin: 2px;
    text-align: center;	
    text-decoration: none;
	display: inline-block;
	font-size: 90%;
}

a.linkbutton:hover {
    color: #cce6ff;
}

a.linkbutton:active {
	color: #cce6ff;
	border: 2px inset #0059b3;
}

#links {
	width: 70;
	float: left;
  }
  #rechts {
	width: 49%;
	float: left;
  }

#ausgabe {
	width: 100%;
}

#zentrum {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
	}
	
#fuß {
	clear: both;
	background-color: lightgrey;
	text-align: center;
}


/* Formatierung des Interaktions-Dropdown Button */
.dropbtn {
    background-color: aliceblue;
    color: #004d99;
    padding: 16px;
    font-size: 16px;
    border: none;
	cursor: pointer;
	font-size: 80%;
}

/* Folgende Elemente sind für die Dropdown-Menüs gedacht */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
	display: inline-block;
	border: 1px solid #006EB7;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: 75%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #0059b3;
	color: aliceblue;
	}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: aliceblue;
	color: black;
}

/* Formatierung der Fachbereichsauswahl */

.select-wrapper {
	width: 200px;
  }

select::-ms-expand {
	display: none;
	font-size: 70%;
  }

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #006EB7;
	height: 50px;
	padding-left: 5px;
	padding-right: 5px;
	background: url(fff-0-2.png) repeat;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 80%;
	background-color: aliceblue;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Formatierung des Kontaktformulars */

#ef1, #ef2 {
	width:439px;
	height:27px;
	background:#F0F8FF;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

#ef2 {
	height:200px; 
}

#ef1:focus, #ef2:focus {
	border:1px solid #006EB7;
	background:#F0F8FF;
}

#submit {
	background: rgb(206, 206, 206);
	background-color: #006EB7;
    color: aliceblue;
    padding: 16px;
    font-size: 14px;
	border: none;
	height: 40px;
	font-family: 'Open Sans', sans-serif;

}
#submit:focus {
	border:1px solid #006EB7;
	background:#006EB7a2;
}

/* Zurückbutton */
#back {
    background-color: #006EB7;
    color: aliceblue;
    padding: 16px;
    font-size: 16px;
    border: none;
	cursor: pointer;
	text-decoration:none;
}

/* Link ohne Unterstrich mit angepasster Farbe*/

.plainLink {
	color: #006EB7;
	text-decoration:none;
}

/* angepasste Tabellen für Auflistung der Metadaten */

#infoAusgabe {
	width: 100%;
	border-spacing:10px;
	border:1px solid #000000;
}

.infoTr:nth-child(odd) {
	background-color: aliceblue;
}

.infoTd {
	border-style: none;
}

/* Formatierung des Suche anpassen Buttons */

#sucheButton {
	background-color: #006EB7; 
    border: none;
    color: aliceblue;
	padding: 15px 33px;
	border: 1px outset #006EB7a2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Anpassung der Textelemente des FAQ */

.listenelement {
	font-variant: small-caps;
	line-height: 1.6;
	padding: 0.15em;
	padding-top: 0.35em;
	font-weight: 501;

}

.faqtext {
	line-height: 1.6;
}